{% extends 'components/site_base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<body class="bg">
  {% include 'components/site_header.html' %}
      <br><br><br>
      <div class="mx-auto text-bg-light p-3 shadow p-3 mb-5 bg-body rounded" style="width: 1100px; height: 400px; ">
        <span class="text-center d-block p-2 text-bg-primary">จองตั๋วเครื่่องบิน</span><br><br>
        <form class="row g-3 needs-validation" novalidate>

            <div class="form-floating col-md-6" method="post">
                <select class="form-select" id="select_start" aria-label="Floating label select example">
                  <option selected style="color:grey ;"></option>
                    <option selected value="Select Airport">Select Airport</option>
                    <option value="DMK">Bangkok     </option>
                    <option value="CNX">Chiang Mai  </option>
                    <option value="CEI">Chiang Rai  </option>
                    <option value="BKK">SamutPrakan </option>
                    <option value="HDY">Songkhla    </option>
                    <option value="HKT">Phuket      </option>
                  </select>
                  <label for="floatingSelect">จาก</label>
            </div>
            <div class="form-floating col-md-6" method="post">
              <select class="form-select" id="select_goal" aria-label="Floating label select example">
                <option selected value="Select destination">Select destination</option>
                <option value="DMK">Bangkok     </option>
                <option value="CNX">Chiang Mai  </option>
                <option value="CEI">Chiang Rai  </option>
                <option value="BKK">SamutPrakan </option>
                <option value="HDY">Songkhla    </option>
                <option value="HKT">Phuket      </option>
              </select>
              <label for="floatingSelect">ไป</label>
            </div>
            <div class='col col-lg-4 col-md-8 col-12 col-auto'>
              <div class='input-group mb-2' style="height:50px ;">
                <input type='text' id='txt_flightDate' class='form-control' placeholder='ระบุบวันเดินทาง' required>
              </div>
            </div>
            <div class="col-md-4"></div>
            <div class="form-floating col-md-4">
              <select class="form-select" id="FlightType" aria-label="Floating label select example">
                <option selected value="" >เลือกประเภทเที่ยวบิน</option>
                <option value="Business"  >business Class!</option>
                <option value="Economy"   >Economy Class....</option>
              </select>
            <label for="floatingSelect">ชั้นโดยสาร</label>
            </div>

            <div class="col-12"></div>
            <div class="d-flex flex-row-reverse">
              <button class="btn btn-warning" type="submit" id="btnfindflight">ค้นหาเที่ยวบิน</button>
            </div>
          </form>
      </div>
</body>
{% endblock %}