.bg{
    background-image: url(/static/img/bg-home.png); 
    background-size: cover;
    min-height: 1440;
    isolation: isolate;
}

.bg::after {
    content: '';
    position: absolute; 
    z-index: -1;
    inset: 0;
    background-color:#BCE6FF ;
    opacity: .5;
}

p {
    font-size: 10px;
}

ul {
    padding-top: 10px;
    width: 550px;    
    justify-content: space-between;
    list-style-type:none ;
    display: flex;
    color:white;
}

[id='btnMybooking']:hover{
    text-shadow:0px 0px 30px #ffffff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
[id='btnMymail']:hover{
    text-shadow:0px 0px 30px #ffffff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

[id='btnHOME']:hover{
    text-shadow:0px 0px 30px #ffffff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    size:110%;
}

[class='dot'] {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}