@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;800&display=swap');

*{
    font-family: 'Roboto Slab', serif;
}

.bg{
    background-image: url(/static/img/bg-home.png); 
    background-size: cover;
    min-height: 1440;
    isolation: isolate;
    
}

.bg::after {
    content: '';
    position: absolute; 
    z-index: -1;
    inset: 0;
    background-color:#BCE6FF ;
    opacity: .5;
}

p {
    font-size: 10px;
}

ul {
    padding-top: 10px;
    width: 550px;    
    justify-content: space-between;
    list-style-type:none ;
    display: flex;
    color:white;
}

[id='btnMybooking']:hover{
    text-shadow:0px 0px 30px #ffffff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
[id='btnMymail']:hover{
    text-shadow:0px 0px 30px #ffffff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

[id='btnHOME']:hover{
    text-shadow:0px 0px 30px #ffffff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    size:110%;
}

.vl {
    border-left: 2px solid;
    border-image: linear-gradient(180deg, rgb(14, 14, 218), rgba(0,212,255,1)) 1;
    height: 165px;
}
.dot1 {
    height: 5px;
    width: 5px;
    background-color: rgb(14, 14, 218);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top:12px;
    left:191px;
}
.dot2 {
    height: 5px;
    width: 5px;
    background-color: rgba(0,212,255,1);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 180px;
    left:191px;
}
